<div class="container-fluid p-5">
  <hr />
  <footer class="text-center text-white" style="background-color: #ffffff">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.facebook.com/SorteosLs"
          role="button"
          target="_blank"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-facebook-f fa-2x footer-icons-fb"></i>
        </a>
        <img src="../../assets/sorteos-ls-big.png" style="max-width: 150px;" alt="Sorteos LS">
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://wa.me/5216441597742"
          role="button"
          target="_blank"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-whatsapp fa-2x footer-icons-wh" ></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
      class="text-center text-dark p-3"
      style="background-color: rgba(255, 255, 255, 0.2)"
    >
      © Sorteos LS Obregon
    </div>
    
    <!-- Copyright -->
  </footer>
</div>
