<div class="container-fluid">
    <div class="row shadow p-3 mb-5 bg-body rounded">
      <div class="col-md-12">
        <h1 class="text-center p-3" id="about-us">Sobre nosotros</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img
          class="img-fluid"
          src="../assets/logo.png"
          style="border-radius: 20px"
          alt="Sorteos LS"
        />
      </div>
      <div class="col-md-6">
        <p class="normal-text">
          Sorteos Ls Obregón, trae para ti los mejores sorteos desde Ciudad
          Obregón Sonora, para todo México <b>🇲🇽</b>. <br />Empezamos con sorteos
          de celulares, ya hicimos rifas de dinero, sorteamos una bicicleta trek y
          hoy damos un paso con toda la Fé para sortear una
          <b>¡Honda CB190R edición Repsol!</b>
  
          <br />Todos los sorteos serán en base a los últimos digitos de la
          lotería nacional, todo de manera 100% legal, transparente y confiable
          para ti. <br />
  
          Nuestro mayor objetivo es sacarte una sonrisa cuando te llame para
          avisarte que eres el o la nuevo ganador@ de nuestro sorteo 🏆
        </p>
        <hr style="width: 100%; text-align: left; margin-left: 0" />
      </div>
    </div>
  </div>