<div
  class="container-fluid sticky-top"
  id="navbar"
  style="background-color: white; transition: top 0.3s;"
>
  <nav class="navbar navbar-expand-lg float-left navsito" id="navbar">
    <div class="container-fluid">
      <img
        src="../../assets/sorteos-ls-big.png"
        style="width: 150px"
        class="navbar-brand img-fluid"
        alt="Sorteos LS"
      />
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <div class="vr m-2"></div>
          <a class="nav-link hover-underline-animation normal-text" href="#"
            ><b>Inicio</b></a
          >
          <div class="vr m-2"></div>
          <a
            class="nav-link hover-underline-animation normal-text"
            href="#articulo"
            ><b>Artículo</b></a
          >
          <div class="vr m-2"></div>
          <a
            class="nav-link hover-underline-animation normal-text"
            href="#boletos"
            ><b>Boletos</b></a
          >
          <div class="vr m-2"></div>
          <a
            class="nav-link hover-underline-animation normal-text"
            href="#about-us"
            ><b>Sobre nosotros</b></a
          >
          <div class="vr m-2"></div>

          <a
            class="nav-link hover-underline-animation normal-text"
            href="#metodos-de-pago"
            ><b>Métodos de pago</b></a
          >

          <div class="vr m-2"></div>
          <a class="nav-link hover-underline-animation normal-text" href="#faq"
            ><b>FAQ</b></a
          >
        </div>
      </div>
    </div>
  </nav>
</div>
