
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="../../assets/banner/moto3.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
  
      <img
        src="../assets/gallery/moto-gallery1.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="../assets/gallery/moto-gallery2.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />
  
      <img
        src="../assets/gallery/moto-gallery3.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="../assets/gallery/moto-gallery4.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
  
      <img
        src="../assets/gallery/moto-gallery5.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />
    </div>
  </div>
  <div class="row">
    <h3 class="text-center p-2">
      <b>Fecha a definir con el 70% de números vendidos</b>
    </h3>
    <h4 class="text-center p-2" style="color: rgb(190, 163, 14)">
      <b>¡Casco de fibra de carbono como bono pronto pago!</b>
    </h4>
    <h4></h4>
  </div>