<div class="container-fluid mt-5">
    <div class="row shadow p-3 mb-5 bg-body rounded">
      <div class="col-md-12">
        <h1 class="text-center p-3" id="metodos-de-pago">Métodos de pago</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p class="normal-text text-center">
          <b>Cuenta para Transferencia o depósitos BBVA Bancomer/Débito</b><br />
          4152 3139 6386 7994 <br />
          José Carlos Gálvez Cantúa
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img
          class="img-fluid"
          src="../assets/bbva tarjeta.jpeg"
          style="border-radius: 20px; width: 75%"
          alt="Sorteos LS"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="col-auto mt-5 text-center">
          <img
            class="img-fluid"
            src="../assets/oxxo.png"
            style="border-radius: 20px; width: 75%"
            alt="Sorteos LS"
          />
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <p class="normal-text text-center">
          <b>Cuenta para Depósitos en Oxxo/ Seven 7 Eleven</b> <br />
          4169 1608 2931 3429 <br />
          Bancoppel-Debito Jose Carlos Galvez Cantúa
        </p>
        <div class="col-auto text-center">
          <img
            class="img-fluid"
            src="../assets/bancoppel.jpg"
            style="border-radius: 20px; width: 50%"
            alt="Sorteos LS"
          />
        </div>
      </div>
    </div>
  </div>