.normal-text {
    font-size: 18px;
    color: #2b2b2b;
}

.big-text {
    font-size: 24px;
    color: #2b2b2b;
}

.boletos-div {

    background: green;
    transition: 1s;
    color: white;
}

.boletos-div:hover {
    background-color: rgb(9, 97, 6);

}

.boleto-btn {
    border-radius: 5px;
    margin: 1px;
    color: white;
    background-color: #1b7400;
    transition: .5s;
}
.boleto-btn:hover{
    background-color: #114a00;
}

.boleto-ocupado{
    background-color: white;
    color: #2b2b2b;
}

.boleto-ocupado:hover{
    background-color: rgb(176, 176, 176);
    color: #2b2b2b;
}

.btn-seleccionar{
    background-color: green;
    color: white;
}
.btn-seleccionar:hover{
    background-color: #114a00;
    color: white;
}
.footer-icons-wh {
    color: #25d366;
    transition: .2s;
}

.footer-icons-wh:hover {
    color: #18843f;
}