<app-navbar></app-navbar>
<app-carousel></app-carousel>

<div class="container-fluid">
  <div class="row">
    <h2 class="text-center p-5"><b>Honda CB190R edición Repsol</b></h2>
  </div>
  <div class="row">
    <img
      src="../../assets/banner/moto3.png"
      alt="Sorteos LS - Moto"
      class="img-fluid mx-auto d-block"
      style="width: 75%"
    />
  </div>
  <div class="row">
    <h3 class="text-center p-2"><b>Fecha del sorteo</b></h3>
  </div>

  <div class="row">
    <h2 class="text-center"><b>BOLETOS</b></h2>
  </div>
  <div class="row">
    <div class="boletos-div">
      <h2 class="text-center p-2">
        <b
          >1 x $89 <br />
          2 x $150 <br />
          3 x $230 <br />
          4 x $310 <br />
          5 x $390 <br />
          6 x $480 <br />
          7 x $560 <br />
          8 x $640 <br />
          9 x $720 <br />
          10 x $750 <br />
        </b>
      </h2>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row shadow p-3 mb-5 bg-body rounded">
    <div class="col-md-12">
      <h1 class="text-center p-3">Sobre nosotros</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img
        class="img-fluid"
        src="../assets/logo.png"
        style="border-radius: 20px"
        alt="Sorteos LS"
      />
    </div>
    <div class="col-md-6">
      <p class="normal-text">
        Sorteos Ls Obregón, trae para ti los mejores sorteos desde Ciudad
        Obregón Sonora, para todo México <b>🇲🇽</b>. <br />Empezamos con sorteos
        de celulares, ya hicimos rifas de dinero, sorteamos una bicicleta trek y
        hoy damos un paso con toda la Fé para sortear una
        <b>¡Honda CB190R edición Repsol!</b>

        <br />Todos los sorteos serán en base a los últimos digitos de la
        lotería nacional, todo de manera 100% legal, transparente y confiable
        para ti. <br />

        Nuestro mayor objetivo es sacarte una sonrisa cuando te llame para
        avisarte que eres el o la nuevo ganador@ de nuestro sorteo 🏆
      </p>
      <hr style="width: 100%; text-align: left; margin-left: 0" />
    </div>
  </div>
</div>
<app-footer></app-footer>
